@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --main-base-color: #FFFFFF;
  --border-base-color: #E2E2E238;
  --alert-color: #FF0000;
  --primary-color: #2DA77A;
  --secondary-color: #002D62;

  --hover-brightness: 1.2;
  --disabled-opacity: 0.7;

  font-family: Lato, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--main-base-color);
  background-color: var(--main-base-color);
}
